.backdrop {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0.25turn, hsl(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.2)), url("../assets/backrop.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
    color: #000000;
    padding: 0.0em;
    margin-top: 0vh;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    z-index: 0;
}

.backdrop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(20px); 
    z-index: -1;
    opacity: 1; /* Adjust the opacity to control the blur intensity */
}

.options {
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20px;
    bottom: 15%;
    width: 60%;
    height: 70%;
    border-radius: 20px;
    border: solid #ff7b00 2px;
    background-image: linear-gradient(0.25turn, hsl(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.2)), url("../assets/backrop.jpg");
    background-blend-mode:hard-light;
    background-size: cover;
    background-position: center center;
    color: #000000;
    z-index: 1;
}

.options-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-content h1 {
    color: #ff7b00;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 10px;
    
}



@media screen and (max-width: 768px) {
    .options {
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .options-content button {
        width: 80vw;
        height: 25vh;
        margin-top: 20px;
    }
    .options-content button:hover{
        border: solid #ff7b00 2px;
    }
    .options-content .MuiBox-root {
        flex-direction: column !important;
        text-align: center;
        margin-top: 20px;
    }


    .options-content h1 {
        font-size: 3em;
    }
  
    .backdrop {
        height: 120vh;
    }
}

@media screen and (max-width: 480px) {
    .options {
        width: 90%;
    }

    .options-content .MuiBox-root {
        flex-direction: column !important;
        text-align: center;
        margin-top: 20px;
    }

    .options-content h1 {
        font-size: 2em;
    }

    .backdrop {
        height: 150vh;
    }
}
